@model Product

<div class="card m-1 border border-primary">
    <div class="card-body">
        <h3><strong> @Model.Name</strong></h3>
        <span class="badge badge-dark" style="float:right; font-size:20px;">
            <small>@Model.Price.ToString("c")</small>
        </span>
        <div class="card-text" style="font-size:20px">@Model.Description</div>
        <hr />
        <form id="@Model.Id" asp-action="AddToCart" asp-controller="Cart" method="post">
            <input type="hidden" asp-for="Id" />
            <input type="hidden" name="returnUrl" value="@ViewContext.HttpContext.Request.PathAndQuery()" />
            <span class="card-text p1">
                <button type="submit" class="btn btn-primary btn-sm float-right">Add To Cart</button>
            </span>
        </form>
    </div>
</div>